<!-- <div class="row">
  <div class="col-md-2" style="background-color:gray;height:80vh">
  <button class="default btn" (click)="open()">Open</button>
  </div>
  <div class="col-md-10" class="container-wrapper" style="background-color:#b5c3b3;">
         <simple-dnd></simple-dnd>
  </div>

</div>

<modal [animation]="animation" [size]="size" [keyboard]="keyboard" [backdrop]="backdrop" [cssClass]="cssClass" #myModal>
  <modal-header>
    <h4 class="modal-title">Select Template</h4>
  </modal-header>
  <modal-body>
    <div class="row">
      <div class=" metro example ">
        <div class="col-md-offset-2">
          <div class="tile bg-cyan" *ngFor="let template of templates" [class.active]="selectedTemplate == template" (click)="onSelect(template)">
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <div class="form-inline">
          <div class="form-group">
            <label for="email">Language:</label>
            <div class="checkbox checkbox-primary">
              <input type="checkbox" name="status" id="status" value="" />
              <label for="status">English</label>
            </div>
            <div class="checkbox checkbox-primary">
              <input type="checkbox" name="status" id="status" value="" />
              <label for="status">French</label>
            </div>
          </div>

        </div>
        <div class="form-horizontal">
          <div class="form-group">
            <label for="name" class="control-label col-md-3">Subject</label>
            <div class="col-md-8">
              <input type="text" class="form-control" required="required" name="name" id="name">
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="control-label col-md-3">Expeditor</label>
            <div class="col-md-8">
              <input type="text" class="form-control" required="required" name="name" id="name">
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="control-label col-md-3">Expeditor address</label>
            <div class="col-md-8">
              <input type="text" class="form-control" required="required" name="name" id="name">
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="control-label col-md-3">Title</label>
            <div class="col-md-8">
              <input type="text" class="form-control" required="required" name="name" id="name">
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="control-label col-md-3">Text</label>
            <div class="col-md-8">
              <input type="text" class="form-control" required="required" name="name" id="name">
            </div>
          </div>
        </div>
      </div>

    </div>


  </modal-body>
</modal> -->



<div class="row">

  <div class="col-md-2">
    <p class="lead">Shop Name</p>
    <div class="list-group">
      <a href="#" class="list-group-item active">Category 1</a>
      <a href="#" class="list-group-item">Category 2</a>
      <a href="#" class="list-group-item">Category 3</a>
    </div>
  </div>

  <div class="col-md-10">


    <div class="well">

       <simple-dnd></simple-dnd>

      <div class="text-right">
        <a class="btn btn-success">Leave a Review</a>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span> Anonymous
          <span class="pull-right">10 days ago</span>
          <p>This product was great in terms of quality. I would definitely buy another!</p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span> Anonymous
          <span class="pull-right">12 days ago</span>
          <p>I've alredy ordered another one!</p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span> Anonymous
          <span class="pull-right">15 days ago</span>
          <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
        </div>
      </div>

    </div>

  </div>

</div>